<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teachingmanagement.mapper.EduCourseReplayMapper">
    
    <resultMap type="EduCourseReplay" id="EduCourseReplayResult">
        <result property="replayId"    column="replay_id"    />
        <result property="teacherCourseId"    column="teacher_course_id"    />
        <result property="semester"    column="semester"    />
        <result property="replayTitle"    column="replay_title"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="videoDuration"    column="video_duration"    />
        <result property="coverUrl"    column="cover_url"    />
        <result property="recordDate"    column="record_date"    />
        <result property="recordTime"    column="record_time"    />
        <result property="playCount"    column="play_count"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectEduCourseReplayVo">
        select replay_id, teacher_course_id, semester, replay_title, video_url, video_duration, cover_url, record_date, record_time, play_count, status, create_time, update_time, update_user_id, is_deleted from edu_course_replay
    </sql>

    <select id="selectEduCourseReplayList" parameterType="EduCourseReplay" resultMap="EduCourseReplayResult">
        <include refid="selectEduCourseReplayVo"/>
        <where>  
            <if test="teacherCourseId != null "> and teacher_course_id = #{teacherCourseId}</if>
            <if test="semester != null  and semester != ''"> and semester = #{semester}</if>
            <if test="replayTitle != null  and replayTitle != ''"> and replay_title = #{replayTitle}</if>
            <if test="videoUrl != null  and videoUrl != ''"> and video_url = #{videoUrl}</if>
            <if test="videoDuration != null "> and video_duration = #{videoDuration}</if>
            <if test="coverUrl != null  and coverUrl != ''"> and cover_url = #{coverUrl}</if>
            <if test="recordDate != null "> and record_date = #{recordDate}</if>
            <if test="recordTime != null "> and record_time = #{recordTime}</if>
            <if test="playCount != null "> and play_count = #{playCount}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="updateUserId != null  and updateUserId != ''"> and update_user_id = #{updateUserId}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectEduCourseReplayByReplayId" parameterType="Long" resultMap="EduCourseReplayResult">
        <include refid="selectEduCourseReplayVo"/>
        where replay_id = #{replayId}
    </select>

    <insert id="insertEduCourseReplay" parameterType="EduCourseReplay">
        insert into edu_course_replay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="replayId != null">replay_id,</if>
            <if test="teacherCourseId != null">teacher_course_id,</if>
            <if test="semester != null and semester != ''">semester,</if>
            <if test="replayTitle != null and replayTitle != ''">replay_title,</if>
            <if test="videoUrl != null and videoUrl != ''">video_url,</if>
            <if test="videoDuration != null">video_duration,</if>
            <if test="coverUrl != null">cover_url,</if>
            <if test="recordDate != null">record_date,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="playCount != null">play_count,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null and updateUserId != ''">update_user_id,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="replayId != null">#{replayId},</if>
            <if test="teacherCourseId != null">#{teacherCourseId},</if>
            <if test="semester != null and semester != ''">#{semester},</if>
            <if test="replayTitle != null and replayTitle != ''">#{replayTitle},</if>
            <if test="videoUrl != null and videoUrl != ''">#{videoUrl},</if>
            <if test="videoDuration != null">#{videoDuration},</if>
            <if test="coverUrl != null">#{coverUrl},</if>
            <if test="recordDate != null">#{recordDate},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="playCount != null">#{playCount},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null and updateUserId != ''">#{updateUserId},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateEduCourseReplay" parameterType="EduCourseReplay">
        update edu_course_replay
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherCourseId != null">teacher_course_id = #{teacherCourseId},</if>
            <if test="semester != null and semester != ''">semester = #{semester},</if>
            <if test="replayTitle != null and replayTitle != ''">replay_title = #{replayTitle},</if>
            <if test="videoUrl != null and videoUrl != ''">video_url = #{videoUrl},</if>
            <if test="videoDuration != null">video_duration = #{videoDuration},</if>
            <if test="coverUrl != null">cover_url = #{coverUrl},</if>
            <if test="recordDate != null">record_date = #{recordDate},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="playCount != null">play_count = #{playCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null and updateUserId != ''">update_user_id = #{updateUserId},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where replay_id = #{replayId}
    </update>

    <delete id="deleteEduCourseReplayByReplayId" parameterType="Long">
        delete from edu_course_replay where replay_id = #{replayId}
    </delete>

    <delete id="deleteEduCourseReplayByReplayIds" parameterType="String">
        delete from edu_course_replay where replay_id in 
        <foreach item="replayId" collection="array" open="(" separator="," close=")">
            #{replayId}
        </foreach>
    </delete>
</mapper>