<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.homeworkandexam.mapper.EduAssignmentMapper">
    
    <resultMap type="EduAssignment" id="EduAssignmentResult">
        <result property="assignId"    column="assign_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="attachUrl"    column="attach_url"    />
        <result property="deadline"    column="deadline"    />
        <result property="assignmentType"    column="assignment_type"    />
        <result property="totalScore"    column="total_score"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectEduAssignmentVo">
        select assign_id, course_id, teacher_id, title, content, attach_url, deadline, assignment_type, total_score, status, create_time, update_time, update_user_id, is_deleted from edu_assignment
    </sql>

    <select id="selectEduAssignmentList" parameterType="EduAssignment" resultMap="EduAssignmentResult">
        <include refid="selectEduAssignmentVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="teacherId != null  and teacherId != ''"> and teacher_id = #{teacherId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="attachUrl != null  and attachUrl != ''"> and attach_url = #{attachUrl}</if>
            <if test="deadline != null "> and deadline = #{deadline}</if>
            <if test="assignmentType != null "> and assignment_type = #{assignmentType}</if>
            <if test="totalScore != null "> and total_score = #{totalScore}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="updateUserId != null  and updateUserId != ''"> and update_user_id = #{updateUserId}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectEduAssignmentByAssignId" parameterType="Long" resultMap="EduAssignmentResult">
        <include refid="selectEduAssignmentVo"/>
        where assign_id = #{assignId}
    </select>

    <insert id="insertEduAssignment" parameterType="EduAssignment">
        insert into edu_assignment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assignId != null">assign_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="teacherId != null and teacherId != ''">teacher_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null">content,</if>
            <if test="attachUrl != null">attach_url,</if>
            <if test="deadline != null">deadline,</if>
            <if test="assignmentType != null">assignment_type,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null and updateUserId != ''">update_user_id,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assignId != null">#{assignId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="teacherId != null and teacherId != ''">#{teacherId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="attachUrl != null">#{attachUrl},</if>
            <if test="deadline != null">#{deadline},</if>
            <if test="assignmentType != null">#{assignmentType},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null and updateUserId != ''">#{updateUserId},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateEduAssignment" parameterType="EduAssignment">
        update edu_assignment
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="teacherId != null and teacherId != ''">teacher_id = #{teacherId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="attachUrl != null">attach_url = #{attachUrl},</if>
            <if test="deadline != null">deadline = #{deadline},</if>
            <if test="assignmentType != null">assignment_type = #{assignmentType},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null and updateUserId != ''">update_user_id = #{updateUserId},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where assign_id = #{assignId}
    </update>

    <delete id="deleteEduAssignmentByAssignId" parameterType="Long">
        delete from edu_assignment where assign_id = #{assignId}
    </delete>

    <delete id="deleteEduAssignmentByAssignIds" parameterType="String">
        delete from edu_assignment where assign_id in 
        <foreach item="assignId" collection="array" open="(" separator="," close=")">
            #{assignId}
        </foreach>
    </delete>
</mapper>